! Minimum and maximum amounts of groundwater pumping for demand unit
! Values are expressed as fraction of agricultural applied water demand
agminmaxgw				
ID        MinFraction    MaxFraction
1       {{'{:.2f}'.format(d02_NA_mingw|float)}}    {{'{:.2f}'.format(d02_NA_maxgw|float)}}    ! !02_NA | Non-District
2       {{'{:.2f}'.format(d02_PA_mingw|float)}}    {{'{:.2f}'.format(d02_PA_maxgw|float)}}    ! !02_PA | Clear Creek CSD
3       {{'{:.2f}'.format(d02_SA_mingw|float)}}    {{'{:.2f}'.format(d02_SA_maxgw|float)}}    ! !02_SA | Anderson Cottonwood ID, Non-District (short-form)
4       {{'{:.2f}'.format(d03_NA_mingw|float)}}    {{'{:.2f}'.format(d03_NA_maxgw|float)}}    ! !03_NA | Non-District
5       {{'{:.2f}'.format(d03_PA_mingw|float)}}    {{'{:.2f}'.format(d03_PA_maxgw|float)}}    ! !03_PA | Bella Vista Water District
6       {{'{:.2f}'.format(d03_SA_mingw|float)}}    {{'{:.2f}'.format(d03_SA_maxgw|float)}}    ! !03_SA | Anderson Cottonwood ID, Non-District (short-form)
7       {{'{:.2f}'.format(d04_NA_mingw|float)}}    {{'{:.2f}'.format(d04_NA_maxgw|float)}}    ! !04_NA | Non-District
8       {{'{:.2f}'.format(d04_PA1_mingw|float)}}    {{'{:.2f}'.format(d04_PA1_maxgw|float)}}    ! !04_PA1 | Corning WD, Proberta WD, Thomes Creek WD
9       {{'{:.2f}'.format(d04_PA2_mingw|float)}}    {{'{:.2f}'.format(d04_PA2_maxgw|float)}}    ! !04_PA2 | Kirkwood WD
10      {{'{:.2f}'.format(d05_NA_mingw|float)}}    {{'{:.2f}'.format(d05_NA_maxgw|float)}}    ! !05_NA | Non-District
11      {{'{:.2f}'.format(d06_NA_mingw|float)}}    {{'{:.2f}'.format(d06_NA_maxgw|float)}}    ! !06_NA | Non-District 
12      {{'{:.2f}'.format(d06_PA_mingw|float)}}    {{'{:.2f}'.format(d06_PA_maxgw|float)}}    ! !06_PA | Orland Unit WUA
13      {{'{:.2f}'.format(d07N_NA_mingw|float)}}    {{'{:.2f}'.format(d07N_NA_maxgw|float)}}    ! !07N_NA | Non-District 
14      {{'{:.2f}'.format(d07N_PA_mingw|float)}}    {{'{:.2f}'.format(d07N_PA_maxgw|float)}}    ! !07N_PA | Glide WD, Holthouse WD, Kanawha WD, Orland-Artois WD
15      {{'{:.2f}'.format(d07S_NA_mingw|float)}}    {{'{:.2f}'.format(d07S_NA_maxgw|float)}}    ! !07S_NA | Non-District 
16      {{'{:.2f}'.format(d07S_PA_mingw|float)}}    {{'{:.2f}'.format(d07S_PA_maxgw|float)}}    ! !07S_PA | 4-M WD, Colusa County WD, Cortina WD, Davis WD, Dunnigan WD,Glenn ValleyWD, Holthouse WD, Le Grande WD, Myers-Marsh MWC, Westside WD
17      {{'{:.2f}'.format(d08N_NA_mingw|float)}}    {{'{:.2f}'.format(d08N_NA_maxgw|float)}}    ! !08N_NA | Non-District
18      {{'{:.2f}'.format(d08N_PA_mingw|float)}}    {{'{:.2f}'.format(d08N_PA_maxgw|float)}}    ! !08N_PA | Colusa Drain MWC
19      {{'{:.2f}'.format(d08N_SA1_mingw|float)}}    {{'{:.2f}'.format(d08N_SA1_maxgw|float)}}    ! !08N_SA1 | Maxwell ID, Princeton-Cordora-Glenn ID, Provident ID, Non-District(Short-Form) Was 0.05 02212023
20      {{'{:.2f}'.format(d08N_SA2_mingw|float)}}    {{'{:.2f}'.format(d08N_SA2_maxgw|float)}}    ! !08N_SA2 | Glenn-Colusa ID Was
21      {{'{:.2f}'.format(d08S_NA1_mingw|float)}}    {{'{:.2f}'.format(d08S_NA1_maxgw|float)}}    ! !08S_NA1 | Non-District
22      {{'{:.2f}'.format(d08S_NA2_mingw|float)}}    {{'{:.2f}'.format(d08S_NA2_maxgw|float)}}    ! !08S_NA2 | Non-District
23      {{'{:.2f}'.format(d08S_PA_mingw|float)}}    {{'{:.2f}'.format(d08S_PA_maxgw|float)}}    ! !08S_PA | Colusa Drain MWC
24      {{'{:.2f}'.format(d08S_SA1_mingw|float)}}    {{'{:.2f}'.format(d08S_SA1_maxgw|float)}}    ! !08S_SA1 | Maxwell ID, Roberts Ditch Co., Swinford Tract Irrigation Company,Non-District (Short-Form) Was 0.08 02212023
25      {{'{:.2f}'.format(d08S_SA2_mingw|float)}}    {{'{:.2f}'.format(d08S_SA2_maxgw|float)}}    ! !08S_SA2 | Glenn-Colusa ID
26      {{'{:.2f}'.format(d08S_SA3_mingw|float)}}    {{'{:.2f}'.format(d08S_SA3_maxgw|float)}}    ! !08S_SA3 | RD 108, River Garden Farms, Non-District (Short-Form) Was 0.04 02212023
27      {{'{:.2f}'.format(d09_NA_mingw|float)}}    {{'{:.2f}'.format(d09_NA_maxgw|float)}}    ! !09_NA | LLano Seco (Parrot Ranch), Dayton MWC, Non-District
28      {{'{:.2f}'.format(d09_SA1_mingw|float)}}    {{'{:.2f}'.format(d09_SA1_maxgw|float)}}    ! !09_SA1 | M&T Chico Ranch Inc.
29      {{'{:.2f}'.format(d09_SA2_mingw|float)}}    {{'{:.2f}'.format(d09_SA2_maxgw|float)}}    ! !09_SA2 | RD 1004, Sartain MWC, Colusa Properties, Non-District (Short-Form) Was 0.05 02212023
30      {{'{:.2f}'.format(d10_NA_mingw|float)}}    {{'{:.2f}'.format(d10_NA_maxgw|float)}}    ! !10_NA | Rancho  Esquon, Durham MWC, Non-District
31      {{'{:.2f}'.format(d11_NA_mingw|float)}}    {{'{:.2f}'.format(d11_NA_maxgw|float)}}    ! !11_NA | Sutter Butte MWC, Non-District
32      {{'{:.2f}'.format(d11_SA1_mingw|float)}}    {{'{:.2f}'.format(d11_SA1_maxgw|float)}}    ! !11_SA1 | Western Canal WD
33      {{'{:.2f}'.format(d11_SA2_mingw|float)}}    {{'{:.2f}'.format(d11_SA2_maxgw|float)}}    ! !11_SA2 | Richvale ID
34      {{'{:.2f}'.format(d11_SA3_mingw|float)}}    {{'{:.2f}'.format(d11_SA3_maxgw|float)}}    ! !11_SA3 | Biggs-West Gridley WD, Butte WD
35      {{'{:.2f}'.format(d11_SA4_mingw|float)}}    {{'{:.2f}'.format(d11_SA4_maxgw|float)}}    ! !11_SA4 | Sutter Extension WD
36      {{'{:.2f}'.format(d12_NA_mingw|float)}}    {{'{:.2f}'.format(d12_NA_maxgw|float)}}    ! !12_NA | Non-District
37      {{'{:.2f}'.format(d12_SA_mingw|float)}}    {{'{:.2f}'.format(d12_SA_maxgw|float)}}    ! !12_SA | Feather River riparian
38      {{'{:.2f}'.format(d13_NA_mingw|float)}}    {{'{:.2f}'.format(d13_NA_maxgw|float)}}    ! !13_NA | South Feather Water and Power Agency
39      {{'{:.2f}'.format(d14_NA_mingw|float)}}    {{'{:.2f}'.format(d14_NA_maxgw|float)}}    ! !14_NA | Browns Valley ID
40      {{'{:.2f}'.format(d15N_NA1_mingw|float)}}    {{'{:.2f}'.format(d15N_NA1_maxgw|float)}}    ! !15N_NA1 | Non-District 
41      {{'{:.2f}'.format(d15N_NA2_mingw|float)}}    {{'{:.2f}'.format(d15N_NA2_maxgw|float)}}    ! !15N_NA2 | Cordua ID, Hallwood ID, Ramirez WD
42      {{'{:.2f}'.format(d15N_SA_mingw|float)}}    {{'{:.2f}'.format(d15N_SA_maxgw|float)}}    ! !15N_SA | Feather River riparian
43      {{'{:.2f}'.format(d15S_NA1_mingw|float)}}    {{'{:.2f}'.format(d15S_NA1_maxgw|float)}}    ! !15S_NA1 | Non-District 
44      {{'{:.2f}'.format(d15S_NA2_mingw|float)}}    {{'{:.2f}'.format(d15S_NA2_maxgw|float)}}    ! !15S_NA2 | Brophy WD, Dry Creek MWC, South Yuba WD, Dantoni Area,Wheatland WD  ! Idy 3/23/2016 based on Water Management Plan Yuba
45      {{'{:.2f}'.format(d15S_SA_mingw|float)}}    {{'{:.2f}'.format(d15S_SA_maxgw|float)}}    ! !15S_SA | Plumas MWC, Feather River riparian
46      {{'{:.2f}'.format(d16_NA1_mingw|float)}}    {{'{:.2f}'.format(d16_NA1_maxgw|float)}}    ! !16_NA1 | Non-District
47      {{'{:.2f}'.format(d16_NA2_mingw|float)}}    {{'{:.2f}'.format(d16_NA2_maxgw|float)}}    ! !16_NA2 | Non-District 
48      {{'{:.2f}'.format(d16_PA_mingw|float)}}    {{'{:.2f}'.format(d16_PA_maxgw|float)}}    ! !16_PA | Feather WD
49      {{'{:.2f}'.format(d16_SA_mingw|float)}}    {{'{:.2f}'.format(d16_SA_maxgw|float)}}    ! !16_SA | Garden Highway MWC, Tudor ID, Oswald MWC, Feather River riparian
50      {{'{:.2f}'.format(d17N_NA_mingw|float)}}    {{'{:.2f}'.format(d17N_NA_maxgw|float)}}    ! !17N_NA | Non-District 
51      {{'{:.2f}'.format(d17S_NA_mingw|float)}}    {{'{:.2f}'.format(d17S_NA_maxgw|float)}}    ! !17S_NA | Sutter Bypass-Butte Slough WUA
52      {{'{:.2f}'.format(d17S_SA_mingw|float)}}    {{'{:.2f}'.format(d17S_SA_maxgw|float)}}    ! !17S_SA | Feather River riparian
53      {{'{:.2f}'.format(d18_NA_mingw|float)}}    {{'{:.2f}'.format(d18_NA_maxgw|float)}}    ! !18_NA | Butte Slough Irrigation Company, Non-District
54      {{'{:.2f}'.format(d18_SA_mingw|float)}}    {{'{:.2f}'.format(d18_SA_maxgw|float)}}    ! !18_SA | Meridian Farms, Newhall Land & Farming, Sutter MWC, TisdaleIDC, Non-District (Short-Form) Was 0.02 02212023
55      {{'{:.2f}'.format(d19_NA_mingw|float)}}    {{'{:.2f}'.format(d19_NA_maxgw|float)}}    ! !19_NA | Non-District: Placeholder - zero acreage 
56      {{'{:.2f}'.format(d19_SA_mingw|float)}}    {{'{:.2f}'.format(d19_SA_maxgw|float)}}    ! !19_SA | Reynen, Oji Bros. Farm, Inc., Oji Family Partnership, PelgerMWC, SutterMWC,Non-District (Short-Form)
57      {{'{:.2f}'.format(d20_NA1_mingw|float)}}    {{'{:.2f}'.format(d20_NA1_maxgw|float)}}    ! !20_NA1 | Yolo County FCWCD
58      {{'{:.2f}'.format(d20_NA2_mingw|float)}}    {{'{:.2f}'.format(d20_NA2_maxgw|float)}}    ! !20_NA2 | Non-District 
59      {{'{:.2f}'.format(d20_PA_mingw|float)}}    {{'{:.2f}'.format(d20_PA_maxgw|float)}}    ! !20_PA | UC Davis value changed from 0.94 to 0.50 to match historical deliveries
60      {{'{:.2f}'.format(d21_NA_mingw|float)}}    {{'{:.2f}'.format(d21_NA_maxgw|float)}}    ! !21_NA | Non-District
61      {{'{:.2f}'.format(d21_PA_mingw|float)}}    {{'{:.2f}'.format(d21_PA_maxgw|float)}}    ! !21_PA | Colusa Drain MWC
62      {{'{:.2f}'.format(d21_SA_mingw|float)}}    {{'{:.2f}'.format(d21_SA_maxgw|float)}}    ! !21_SA | RD 2035 (Conway Conservancy), Sacramento River Ranch LLC Was 0.01 02212023
63      {{'{:.2f}'.format(d22_NA_mingw|float)}}    {{'{:.2f}'.format(d22_NA_maxgw|float)}}    ! !22_NA | Non-District
64      {{'{:.2f}'.format(d22_SA1_mingw|float)}}    {{'{:.2f}'.format(d22_SA1_maxgw|float)}}    ! !22_SA1 | Natomas Central MWD, Pleasant Grove-Verona MWC, Non-District(Short-Form) 
65      {{'{:.2f}'.format(d22_SA2_mingw|float)}}    {{'{:.2f}'.format(d22_SA2_maxgw|float)}}    ! !22_SA2 | Feather River riparian
66      {{'{:.2f}'.format(d23_NA_mingw|float)}}    {{'{:.2f}'.format(d23_NA_maxgw|float)}}    ! !23_NA | Camp Far West ID, South Sutter WD
67      {{'{:.2f}'.format(d24_NA1_mingw|float)}}    {{'{:.2f}'.format(d24_NA1_maxgw|float)}}    ! !24_NA1 | Nevada ID
68      {{'{:.2f}'.format(d24_NA2_mingw|float)}}    {{'{:.2f}'.format(d24_NA2_maxgw|float)}}    ! !24_NA2 | PCWA Zone 5
69      {{'{:.2f}'.format(d24_NA3_mingw|float)}}    {{'{:.2f}'.format(d24_NA3_maxgw|float)}}    ! !24_NA3 | PCWA Zone 1
70      {{'{:.2f}'.format(d25_NA_mingw|float)}}    {{'{:.2f}'.format(d25_NA_maxgw|float)}}    ! !25_NA | North Delta WA, Non-District
71      {{'{:.2f}'.format(d25_PA1_mingw|float)}}    {{'{:.2f}'.format(d25_PA1_maxgw|float)}}    ! !25_PA1 | Solano ID
72      {{'{:.2f}'.format(d25_PA2_mingw|float)}}    {{'{:.2f}'.format(d25_PA2_maxgw|float)}}    ! !25_PA2 | Maine Prairie WD
73      {{'{:.2f}'.format(d26N_NA_mingw|float)}}    {{'{:.2f}'.format(d26N_NA_maxgw|float)}}    ! !26N_NA | Non-District
74      {{'{:.2f}'.format(d26S_NA_mingw|float)}}    {{'{:.2f}'.format(d26S_NA_maxgw|float)}}    ! !26S_NA | Non-District           
75      {{'{:.2f}'.format(d60S_PA2_mingw|float)}}    {{'{:.2f}'.format(d60S_PA2_maxgw|float)}}    ! !60S_PA2 |  !to do assumed value - value not identified in AWMP but AWMP suggests high useage, citing 'historical reliance'
76      {{'{:.2f}'.format(d61_PA1_D_mingw|float)}}    {{'{:.2f}'.format(d61_PA1_D_maxgw|float)}}    ! !61_PA1_D/61_PA2_D  | OIDN/OIDS  From AWMP tables 5-13 - 5-15 
77      {{'{:.2f}'.format(d61_PA1_P_mingw|float)}}    {{'{:.2f}'.format(d61_PA1_P_maxgw|float)}}    ! !61_PA1_P/61_PA2_P  | OIDN/OIDS  From AWMP tables 5-13 - 5-15
78      {{'{:.2f}'.format(d61_PA3_D_mingw|float)}}    {{'{:.2f}'.format(d61_PA3_D_maxgw|float)}}    ! !61_PA3_D  | SSJID  From AWMP tables 5-13 - 5-16
79      {{'{:.2f}'.format(d61_PA3_P_mingw|float)}}    {{'{:.2f}'.format(d61_PA3_P_maxgw|float)}}    ! !61_PA3_P  | SSJID  From AWMP tables 5-13 - 5-16
80      {{'{:.2f}'.format(d61_NA1_mingw|float)}}    {{'{:.2f}'.format(d61_NA1_maxgw|float)}}    ! !61_NA1   | @coeqwal - SGMA - rough estimate: !0.65
81      {{'{:.2f}'.format(d61_NA2_D_mingw|float)}}    {{'{:.2f}'.format(d61_NA2_D_maxgw|float)}}    ! !61_NA2_D   | @coeqwal - SGMA estimate: 0.65; !MID, value estimated quickly from 2012 AWMP data (gw supplies ~11% AW demand in '09), check. Increased as river divetsions too large, was 0.03
82      {{'{:.2f}'.format(d61_NA2_P_mingw|float)}}    {{'{:.2f}'.format(d61_NA2_P_maxgw|float)}}    ! !61_NA2_P   | @coeqwal - SGMA estimate:  !0.65; !MID, value estimated quickly from 2012 AWMP data, (gw supplies ~11% AW demand in '09), check. Increased as river divetsions too large, was 0.09
83      {{'{:.2f}'.format(d61_NA3_mingw|float)}}    {{'{:.2f}'.format(d61_NA3_maxgw|float)}}    ! !61_NA3    | @coeqwal - SGMA estimate: !0.65
84      {{'{:.2f}'.format(d61_NA4_mingw|float)}}    {{'{:.2f}'.format(d61_NA4_maxgw|float)}}    ! !61_NA4   @coeqwal - SGMA estimate: !0.65 | 
85      {{'{:.2f}'.format(d61_NA5_mingw|float)}}    {{'{:.2f}'.format(d61_NA5_maxgw|float)}}    ! !61_NA5    | @coeqwal - SGMA estimate:  !0.65
86      {{'{:.2f}'.format(d61_NA6_mingw|float)}}    {{'{:.2f}'.format(d61_NA6_maxgw|float)}}    ! !61_NA6   |  @jmg 2017.05.09
87      {{'{:.2f}'.format(d61_NU1_mingw|float)}}    {{'{:.2f}'.format(d61_NU1_maxgw|float)}}    ! !61_NU1    | @jmg 2017.05.09
88      {{'{:.2f}'.format(d61_NU2_mingw|float)}}    {{'{:.2f}'.format(d61_NU2_maxgw|float)}}    ! !61_NU2   |  @jmg 2017.05.09
89      {{'{:.2f}'.format(d61_NU3_mingw|float)}}    {{'{:.2f}'.format(d61_NU3_maxgw|float)}}    ! !61_NU3   |  @jmg 2017.05.09
90      {{'{:.2f}'.format(d62_NA1_mingw|float)}}    {{'{:.2f}'.format(d62_NA1_maxgw|float)}}    ! !62_NA1  WD    | @coeqwal - SGMA estimate:  !0.45
91      {{'{:.2f}'.format(d62_NA2_mingw|float)}}    {{'{:.2f}'.format(d62_NA2_maxgw|float)}}    ! !62_NA2  | @coeqwal - SGMA estimate: !0.55
92      {{'{:.2f}'.format(d62_NA3_D_mingw|float)}}    {{'{:.2f}'.format(d62_NA3_D_maxgw|float)}}    ! !62_NA3_D    | @jmg 2017.05.09
93      {{'{:.2f}'.format(d62_NA3_P_mingw|float)}}    {{'{:.2f}'.format(d62_NA3_P_maxgw|float)}}    ! !62_NA3_P   @jmg 2017.05.09 | 
94      {{'{:.2f}'.format(d62_NA4_mingw|float)}}    {{'{:.2f}'.format(d62_NA4_maxgw|float)}}    ! !62_NA4   @jmg 2017.05.09 | 
95      {{'{:.2f}'.format(d62_NA5_mingw|float)}}    {{'{:.2f}'.format(d62_NA5_maxgw|float)}}    ! !62_NA5   @jmg 2017.05.09 | 
96      {{'{:.2f}'.format(d62_NA6_D_mingw|float)}}    {{'{:.2f}'.format(d62_NA6_D_maxgw|float)}}    ! !62_NA6_D   @coeqwal - SGMA estimate: !0.41 | 
97      {{'{:.2f}'.format(d62_NA6_P_mingw|float)}}    {{'{:.2f}'.format(d62_NA6_P_maxgw|float)}}    ! !62_NA6_P  @Ag water management plan 2016 @coeqwal - SGMA estimate: !0.41 | 
98      {{'{:.2f}'.format(d62_NU_mingw|float)}}    {{'{:.2f}'.format(d62_NU_maxgw|float)}}    ! !62_NU   @jmg 2017.05.09 | 
99      {{'{:.2f}'.format(d63_PR1_mingw|float)}}    {{'{:.2f}'.format(d63_PR1_maxgw|float)}}    ! !63_PR1 | 
100     {{'{:.2f}'.format(d63_PR2_mingw|float)}}    {{'{:.2f}'.format(d63_PR2_maxgw|float)}}    ! !63_PR2 | 
101     {{'{:.2f}'.format(d63_PR3_mingw|float)}}    {{'{:.2f}'.format(d63_PR3_maxgw|float)}}    ! !63_PR3 | 
102     {{'{:.2f}'.format(d63_NA1_mingw|float)}}    {{'{:.2f}'.format(d63_NA1_maxgw|float)}}    ! !63_NA1   @coeqwal - SGMA estimate: !0.57 | 
103     {{'{:.2f}'.format(d63_NA2_mingw|float)}}    {{'{:.2f}'.format(d63_NA2_maxgw|float)}}    ! !63_NA2   @coeqwal - SGMA estimate: !0.57 | 
104     {{'{:.2f}'.format(d63_NA3_D_mingw|float)}}    {{'{:.2f}'.format(d63_NA3_D_maxgw|float)}}    ! !63_NA3_D   @coeqwal - SGMA estimate:  !0.57 | 
105     {{'{:.2f}'.format(d63_NA3_P_mingw|float)}}    {{'{:.2f}'.format(d63_NA3_P_maxgw|float)}}    ! !63_NA3_P   @Ag water management plant 2016 @coeqwal - SGMA @coeqwal - SGMA estimate: !0.57 | 
106     {{'{:.2f}'.format(d63_NA4_mingw|float)}}    {{'{:.2f}'.format(d63_NA4_maxgw|float)}}    ! !63_NA4   All surface water sources have upper bounds previously 0.935;  @coeqwal - SGMA estimate: !0.74   | 
107     {{'{:.2f}'.format(d63_NU_mingw|float)}}    {{'{:.2f}'.format(d63_NU_maxgw|float)}}    ! !63_NU   @jmg 2017.05.09 | 
108     {{'{:.2f}'.format(d64_NA1_mingw|float)}}    {{'{:.2f}'.format(d64_NA1_maxgw|float)}}    ! !64_NA1   @coeqwal - SGMA !0.515 | 
109     {{'{:.2f}'.format(d64_NA2_mingw|float)}}    {{'{:.2f}'.format(d64_NA2_maxgw|float)}}    ! !64_NA2   @coeqwal - SGMA  !0.225 | 
110     {{'{:.2f}'.format(d64_PA1_mingw|float)}}    {{'{:.2f}'.format(d64_PA1_maxgw|float)}}    ! !64_PA1   @coeqwal - SGMA !0.89 | 
111     {{'{:.2f}'.format(d64_PA2_mingw|float)}}    {{'{:.2f}'.format(d64_PA2_maxgw|float)}}    ! !64_PA2   @coeqwal - SGMA  !0.683 | 
112     {{'{:.2f}'.format(d64_PA3_mingw|float)}}    {{'{:.2f}'.format(d64_PA3_maxgw|float)}}    ! !64_PA3   @coeqwal - SGMA !0.89 | 
113     {{'{:.2f}'.format(d64_XA_mingw|float)}}    {{'{:.2f}'.format(d64_XA_maxgw|float)}}    ! !64_XA   @jmg 2017.05.09 | 
114     {{'{:.2f}'.format(d64_NU_mingw|float)}}    {{'{:.2f}'.format(d64_NU_maxgw|float)}}    ! !64_NU   @jmg 2017.05.09 | 
115     {{'{:.2f}'.format(d50_PA1_mingw|float)}}    {{'{:.2f}'.format(d50_PA1_maxgw|float)}}    ! !50_PA1   @jmg 2017.05.09 | 
116     {{'{:.2f}'.format(d50_PU_mingw|float)}}    {{'{:.2f}'.format(d50_PU_maxgw|float)}}    ! !50_PU   @jmg 2017.05.09 | 
117     {{'{:.2f}'.format(d71_PA1_mingw|float)}}    {{'{:.2f}'.format(d71_PA1_maxgw|float)}}    ! !71_PA1 @coeqwal - SGMA !0.65 | 
118     {{'{:.2f}'.format(d71_PA2_mingw|float)}}    {{'{:.2f}'.format(d71_PA2_maxgw|float)}}    ! !71_PA2 @coeqwal - SGMA | 
119     {{'{:.2f}'.format(d71_PA3_mingw|float)}}    {{'{:.2f}'.format(d71_PA3_maxgw|float)}}    ! !71_PA3 @coeqwal - SGMA ! 0.65 | 
120     {{'{:.2f}'.format(d71_PA4_mingw|float)}}    {{'{:.2f}'.format(d71_PA4_maxgw|float)}}    ! !71_PA4 @coeqwal - SGMA | 
121     {{'{:.2f}'.format(d71_PA5_mingw|float)}}    {{'{:.2f}'.format(d71_PA5_maxgw|float)}}    ! !71_PA5 @coeqwal - SGMA  !0.65 | 
122     {{'{:.2f}'.format(d71_PA6_mingw|float)}}    {{'{:.2f}'.format(d71_PA6_maxgw|float)}}    ! !71_PA6 @coeqwal - SGMA !0.65 | 
123     {{'{:.2f}'.format(d71_PA8_mingw|float)}}    {{'{:.2f}'.format(d71_PA8_maxgw|float)}}    ! !71_PA8 @coeqwal - SGMA | 
124     {{'{:.2f}'.format(d71_NA1_mingw|float)}}    {{'{:.2f}'.format(d71_NA1_maxgw|float)}}    ! !71_NA1 @coeqwal - SGMA | 
125     {{'{:.2f}'.format(d71_NA2_mingw|float)}}    {{'{:.2f}'.format(d71_NA2_maxgw|float)}}    ! !71_NA2 @coeqwal - SGMA !0.26 | 
126     {{'{:.2f}'.format(d71_PU1_mingw|float)}}    {{'{:.2f}'.format(d71_PU1_maxgw|float)}}    ! !71_PU1 | 
127     {{'{:.2f}'.format(d71_PU2_mingw|float)}}    {{'{:.2f}'.format(d71_PU2_maxgw|float)}}    ! !71_PU2 | 
128     {{'{:.2f}'.format(d71_NU_mingw|float)}}    {{'{:.2f}'.format(d71_NU_maxgw|float)}}    ! !71_NU | 
129     {{'{:.2f}'.format(d72_NA1_mingw|float)}}    {{'{:.2f}'.format(d72_NA1_maxgw|float)}}    ! !72_NA1 @coeqwal - SGMA | 
130     {{'{:.2f}'.format(d72_NA2_mingw|float)}}    {{'{:.2f}'.format(d72_NA2_maxgw|float)}}    ! !72_NA2 @coeqwal - SGMA | 
131     {{'{:.2f}'.format(d72_PA_mingw|float)}}    {{'{:.2f}'.format(d72_PA_maxgw|float)}}    ! !72_PA @coeqwal - SGMA | 
132     {{'{:.2f}'.format(d72_XA1_mingw|float)}}    {{'{:.2f}'.format(d72_XA1_maxgw|float)}}    ! !72_XA1  @coeqwal - SGMA | 
133     {{'{:.2f}'.format(d72_XA2_mingw|float)}}    {{'{:.2f}'.format(d72_XA2_maxgw|float)}}    ! !72_XA2 @coeqwal - SGMA | 
134     {{'{:.2f}'.format(d72_XA3_mingw|float)}}    {{'{:.2f}'.format(d72_XA3_maxgw|float)}}    ! !72_XA3 @coeqwal - SGMA | 
135     {{'{:.2f}'.format(d72_PR1_mingw|float)}}    {{'{:.2f}'.format(d72_PR1_maxgw|float)}}    ! !72_PR1 | 
136     {{'{:.2f}'.format(d72_PR2_mingw|float)}}    {{'{:.2f}'.format(d72_PR2_maxgw|float)}}    ! !72_PR2 | 
137     {{'{:.2f}'.format(d72_PR3_mingw|float)}}    {{'{:.2f}'.format(d72_PR3_maxgw|float)}}    ! !72_PR3 | 
138     {{'{:.2f}'.format(d72_PR4_mingw|float)}}    {{'{:.2f}'.format(d72_PR4_maxgw|float)}}    ! !72_PR4 | 
139     {{'{:.2f}'.format(d72_PR5_mingw|float)}}    {{'{:.2f}'.format(d72_PR5_maxgw|float)}}    ! !72_PR5 | 
140     {{'{:.2f}'.format(d72_PR6_mingw|float)}}    {{'{:.2f}'.format(d72_PR6_maxgw|float)}}    ! !72_PR6 | 
141     {{'{:.2f}'.format(d72_NU_mingw|float)}}    {{'{:.2f}'.format(d72_NU_maxgw|float)}}    ! !72_NU | 
142     {{'{:.2f}'.format(d72_PU_mingw|float)}}    {{'{:.2f}'.format(d72_PU_maxgw|float)}}    ! !72_PU | 
143     {{'{:.2f}'.format(d73_NA_mingw|float)}}    {{'{:.2f}'.format(d73_NA_maxgw|float)}}    ! !73_NA @coeqwal - SGMA !0.61 | 
144     {{'{:.2f}'.format(d73_PA1_mingw|float)}}    {{'{:.2f}'.format(d73_PA1_maxgw|float)}}    ! !73_PA1 @coeqwal - SGMA !0.61 | 
145     {{'{:.2f}'.format(d73_PA2_mingw|float)}}    {{'{:.2f}'.format(d73_PA2_maxgw|float)}}    ! !73_PA2 @coeqwal - SGMA !0.61 | 
146     {{'{:.2f}'.format(d73_PA3_mingw|float)}}    {{'{:.2f}'.format(d73_PA3_maxgw|float)}}    ! !73_PA3 @coeqwal - SGMA  !0.61 | 
147     {{'{:.2f}'.format(d73_XA_mingw|float)}}    {{'{:.2f}'.format(d73_XA_maxgw|float)}}    ! !73_XA @coeqwal - SGMA  !0.61 | 
148     {{'{:.2f}'.format(d73_NU_mingw|float)}}    {{'{:.2f}'.format(d73_NU_maxgw|float)}}    ! !73_NU | 
149     {{'{:.2f}'.format(d90_PA1_mingw|float)}}    {{'{:.2f}'.format(d90_PA1_maxgw|float)}}    ! !90_PA1 @coeqwal - SGMA - !0.94        | 
150     {{'{:.2f}'.format(d90_PA2_mingw|float)}}    {{'{:.2f}'.format(d90_PA2_maxgw|float)}}    ! !90_PA2 @coeqwal - SGMA estimate:  !0.94      | 
151     {{'{:.2f}'.format(d90_PU_mingw|float)}}    {{'{:.2f}'.format(d90_PU_maxgw|float)}}    ! !90_PU | 
152     {{'{:.2f}'.format(d91_PA_mingw|float)}}    {{'{:.2f}'.format(d91_PA_maxgw|float)}}    ! !91_PA @coeqwal - SGMA estimate: !0.94   | 
153     {{'{:.2f}'.format(d91_PR_mingw|float)}}    {{'{:.2f}'.format(d91_PR_maxgw|float)}}    ! !91_PR | 
154     {{'{:.2f}'.format(d63_NA5_mingw|float)}}    {{'{:.2f}'.format(d63_NA5_maxgw|float)}}    ! !63_NA5 @coeqwal - SGMA | 
155     {{'{:.2f}'.format(d60N_NA1_mingw|float)}}    {{'{:.2f}'.format(d60N_NA1_maxgw|float)}}    ! !60N_NA1 @coeqwal - SGMA estimate:  !0.79 | 
156     {{'{:.2f}'.format(d60N_NA2_mingw|float)}}    {{'{:.2f}'.format(d60N_NA2_maxgw|float)}}    ! !60N_NA2 @coeqwal - SGMA estimate: !0.79 | 
157     {{'{:.2f}'.format(d60N_NA3_mingw|float)}}    {{'{:.2f}'.format(d60N_NA3_maxgw|float)}}    ! !60N_NA3 @coeqwal - SGMA estimate:  !0.79 | 
158     {{'{:.2f}'.format(d60N_NA4_mingw|float)}}    {{'{:.2f}'.format(d60N_NA4_maxgw|float)}}    ! !60N_NA4 @coeqwal - SGMA estimate:  !0.79  | 
159     {{'{:.2f}'.format(d60N_NA5_mingw|float)}}    {{'{:.2f}'.format(d60N_NA5_maxgw|float)}}    ! !60N_NA5 -  @coeqwal - SGMA estiamte: 0.79   | 
160     {{'{:.2f}'.format(d60N_NU1_mingw|float)}}    {{'{:.2f}'.format(d60N_NU1_maxgw|float)}}    ! !60N_NU1 | 
161     {{'{:.2f}'.format(d60N_NU2_mingw|float)}}    {{'{:.2f}'.format(d60N_NU2_maxgw|float)}}    ! !60N_NU2 | 
162     {{'{:.2f}'.format(d60N_PU_mingw|float)}}    {{'{:.2f}'.format(d60N_PU_maxgw|float)}}    ! !60N_PU | 
163     {{'{:.2f}'.format(dEBMUD_mingw|float)}}    {{'{:.2f}'.format(dEBMUD_maxgw|float)}}    ! !EBMUD | 
164     {{'{:.2f}'.format(d60S_PA1_mingw|float)}}    {{'{:.2f}'.format(d60S_PA1_maxgw|float)}}    ! !60S_PA1 - Stockton East WD | 
165     {{'{:.2f}'.format(d60S_PA2_mingw|float)}}    {{'{:.2f}'.format(d60S_PA2_maxgw|float)}}    ! !60S_PA2 - Central San Joaquin WCD | 
166     {{'{:.2f}'.format(d60S_NA1_mingw|float)}}    {{'{:.2f}'.format(d60S_NA1_maxgw|float)}}    ! !60S_NA1 - no surface water deliveries | 
167     {{'{:.2f}'.format(d60S_NA2_mingw|float)}}    {{'{:.2f}'.format(d60S_NA2_maxgw|float)}}    ! !60S_NA2 - no surface water deliveries | 
168     {{'{:.2f}'.format(d60S_NU1_mingw|float)}}    {{'{:.2f}'.format(d60S_NU1_maxgw|float)}}    ! !60S_NU1 - City of Stockton | 
169     {{'{:.2f}'.format(d60S_NU2_mingw|float)}}    {{'{:.2f}'.format(d60S_NU2_maxgw|float)}}    ! !60S_NU2 - Small communities | 
170     {{'{:.2f}'.format(d50_PA2_mingw|float)}}    {{'{:.2f}'.format(d50_PA2_maxgw|float)}}    ! !50_PA2 - Delta - @coeqwal - adding an option to limit this gwpump  | 
