! Minimum and maximum amounts of groundwater pumping for demand unit
! Values are expressed as fraction of urban water demand
urbanminmaxgw
ID        MinFraction    MaxFraction
1       {{'{:.2f}'.format(d02_NU_mingw|float)}}    {{'{:.2f}'.format(d02_NU_maxgw|float)}}    ! !02_NU | Anderson, Cottonwood WD, small communities
2       {{'{:.2f}'.format(d02_PU_mingw|float)}}    {{'{:.2f}'.format(d02_PU_maxgw|float)}}    ! !02_PU | Centerville CSD, Clear Creek CSD, Keswick CSA, Shasta CSD
3       {{'{:.2f}'.format(d02_SU_mingw|float)}}    {{'{:.2f}'.format(d02_SU_maxgw|float)}}    ! !02_SU | Redding (Foothill WTP)
4       {{'{:.2f}'.format(d03_NU_mingw|float)}}    {{'{:.2f}'.format(d03_NU_maxgw|float)}}    ! !03_NU | Small communities
5       {{'{:.2f}'.format(d03_PU1_mingw|float)}}    {{'{:.2f}'.format(d03_PU1_maxgw|float)}}    ! !03_PU1 | Jones Valley CSA, City of Shasta Lake, Mountain Gate CSD
6       {{'{:.2f}'.format(d03_PU2_mingw|float)}}    {{'{:.2f}'.format(d03_PU2_maxgw|float)}}    ! !03_PU2 | Bella Vista WD
7       {{'{:.2f}'.format(d03_PU3_mingw|float)}}    {{'{:.2f}'.format(d03_PU3_maxgw|float)}}    ! !03_PU3 | Redding (Buckeye WTP)
8       {{'{:.2f}'.format(d03_SU_mingw|float)}}    {{'{:.2f}'.format(d03_SU_maxgw|float)}}    ! !03_SU | Redding (Foothill WTP)
9       {{'{:.2f}'.format(d04_NU1_mingw|float)}}    {{'{:.2f}'.format(d04_NU1_maxgw|float)}}    ! !04_NU1 | Red Bluff
10      {{'{:.2f}'.format(d04_NU2_mingw|float)}}    {{'{:.2f}'.format(d04_NU2_maxgw|float)}}    ! !04_NU2 | Corning, Gerber-Las Flores CSD, small communities
11      {{'{:.2f}'.format(d05_NU_mingw|float)}}    {{'{:.2f}'.format(d05_NU_maxgw|float)}}    ! !05_NU | Red Bluff, Los Molinos CSD, small communities
12      {{'{:.2f}'.format(d06_NU_mingw|float)}}    {{'{:.2f}'.format(d06_NU_maxgw|float)}}    ! !06_NU | Orland, small communities
13      {{'{:.2f}'.format(d07N_NU_mingw|float)}}    {{'{:.2f}'.format(d07N_NU_maxgw|float)}}    ! !07N_NU | Willows, small communities
14      {{'{:.2f}'.format(d07S_NU_mingw|float)}}    {{'{:.2f}'.format(d07S_NU_maxgw|float)}}    ! !07S_NU | Arbuckle, Cacheville CSD, Knights Landing CSD, small communities
15      {{'{:.2f}'.format(d08N_NU_mingw|float)}}    {{'{:.2f}'.format(d08N_NU_maxgw|float)}}    ! !08N_NU | Willows, Hamilton, small communities
16      {{'{:.2f}'.format(d08S_NU_mingw|float)}}    {{'{:.2f}'.format(d08S_NU_maxgw|float)}}    ! !08S_NU | Colusa, Williams, Knights Landing, small communities
17      {{'{:.2f}'.format(d09_NU_mingw|float)}}    {{'{:.2f}'.format(d09_NU_maxgw|float)}}    ! !09_NU | Small communities
18      {{'{:.2f}'.format(d10_NU1_mingw|float)}}    {{'{:.2f}'.format(d10_NU1_maxgw|float)}}    ! !10_NU1 | Chico
19      {{'{:.2f}'.format(d10_NU2_mingw|float)}}    {{'{:.2f}'.format(d10_NU2_maxgw|float)}}    ! !10_NU2 | Durham, small communities
20      {{'{:.2f}'.format(d11_NU1_mingw|float)}}    {{'{:.2f}'.format(d11_NU1_maxgw|float)}}    ! !11_NU1 | Oroville - Thermalito Irrigation District
21      {{'{:.2f}'.format(d11_NU2_mingw|float)}}    {{'{:.2f}'.format(d11_NU2_maxgw|float)}}    ! !11_NU2 | Biggs, Gridley, Live Oak WD, small communities
22      {{'{:.2f}'.format(d12_NU1_mingw|float)}}    {{'{:.2f}'.format(d12_NU1_maxgw|float)}}    ! !12_NU1 | Oroville - California Water Service Company
23      {{'{:.2f}'.format(d12_NU2_mingw|float)}}    {{'{:.2f}'.format(d12_NU2_maxgw|float)}}    ! !12_NU2 | Small communities
24      {{'{:.2f}'.format(d13_NU1_mingw|float)}}    {{'{:.2f}'.format(d13_NU1_maxgw|float)}}    ! !13_NU1 | Oroville - South Feather Water and Power Agency
25      {{'{:.2f}'.format(d13_NU2_mingw|float)}}    {{'{:.2f}'.format(d13_NU2_maxgw|float)}}    ! !13_NU2 | Small communities
26      {{'{:.2f}'.format(d14_NU_mingw|float)}}    {{'{:.2f}'.format(d14_NU_maxgw|float)}}    ! !14_NU | Small communities
27      {{'{:.2f}'.format(d15N_NU_mingw|float)}}    {{'{:.2f}'.format(d15N_NU_maxgw|float)}}    ! !15N_NU | Marysville - California Water Service Company, small communities
28      {{'{:.2f}'.format(d15S_NU_mingw|float)}}    {{'{:.2f}'.format(d15S_NU_maxgw|float)}}    ! !15S_NU | Olivehurst PUD, Linda County WD, Wheatland, small communities
29      {{'{:.2f}'.format(d16_NU_mingw|float)}}    {{'{:.2f}'.format(d16_NU_maxgw|float)}}    ! !16_NU | Small communities
30      {{'{:.2f}'.format(d16_PU_mingw|float)}}    {{'{:.2f}'.format(d16_PU_maxgw|float)}}    ! !16_PU | Yuba City
31      {{'{:.2f}'.format(d17N_NU_mingw|float)}}    {{'{:.2f}'.format(d17N_NU_maxgw|float)}}    ! !17N_NU | Small communities
32      {{'{:.2f}'.format(d17S_NU_mingw|float)}}    {{'{:.2f}'.format(d17S_NU_maxgw|float)}}    ! !17S_NU | Sutter CSD, small communities
33      {{'{:.2f}'.format(d18_NU_mingw|float)}}    {{'{:.2f}'.format(d18_NU_maxgw|float)}}    ! !18_NU | Small communities
34      {{'{:.2f}'.format(d19_NU_mingw|float)}}    {{'{:.2f}'.format(d19_NU_maxgw|float)}}    ! !19_NU | Small communities
35      {{'{:.2f}'.format(d20_NU1_mingw|float)}}    {{'{:.2f}'.format(d20_NU1_maxgw|float)}}    ! !20_NU1 | Davis, Woodland
36      {{'{:.2f}'.format(d20_NU2_mingw|float)}}    {{'{:.2f}'.format(d20_NU2_maxgw|float)}}    ! !20_NU2 | Winters, Esparto CSD, Madison CSD, small communities
37      {{'{:.2f}'.format(d21_NU_mingw|float)}}    {{'{:.2f}'.format(d21_NU_maxgw|float)}}    ! !21_NU | Small communities
38      {{'{:.2f}'.format(d21_PU_mingw|float)}}    {{'{:.2f}'.format(d21_PU_maxgw|float)}}    ! !21_PU | West Sacramento (partly in Delta)
39      {{'{:.2f}'.format(d22_NU_mingw|float)}}    {{'{:.2f}'.format(d22_NU_maxgw|float)}}    ! !22_NU | Small communities
40      {{'{:.2f}'.format(d23_NU_mingw|float)}}    {{'{:.2f}'.format(d23_NU_maxgw|float)}}    ! !23_NU | Small communities
41      {{'{:.2f}'.format(d24_NU1_mingw|float)}}    {{'{:.2f}'.format(d24_NU1_maxgw|float)}}    ! !24_NU1 | Auburn, Bowman, Ophir, Newcastle
42      {{'{:.2f}'.format(d24_NU2_mingw|float)}}    {{'{:.2f}'.format(d24_NU2_maxgw|float)}}    ! !24_NU2 | Loomis, Penryn, Rocklin, Lincoln, Granite Bay - GW is used to meet 10% of Lincoln demands (2015 UWMP)
43      {{'{:.2f}'.format(d24_NU3_mingw|float)}}    {{'{:.2f}'.format(d24_NU3_maxgw|float)}}    ! !24_NU3 | North Auburn
44      {{'{:.2f}'.format(d24_NU4_mingw|float)}}    {{'{:.2f}'.format(d24_NU4_maxgw|float)}}    ! !24_NU4 | Small communities
45      {{'{:.2f}'.format(d25_NU_mingw|float)}}    {{'{:.2f}'.format(d25_NU_maxgw|float)}}    ! !25_NU | Rio Vista, Dixon, small communities
46      {{'{:.2f}'.format(d25_PU_mingw|float)}}    {{'{:.2f}'.format(d25_PU_maxgw|float)}}    ! !25_PU | Vacaville
47      {{'{:.2f}'.format(d26N_NU1_mingw|float)}}    {{'{:.2f}'.format(d26N_NU1_maxgw|float)}}    ! !26N_NU1 | Sacramento Suburban WD - NSA
48      {{'{:.2f}'.format(d26N_NU2_mingw|float)}}    {{'{:.2f}'.format(d26N_NU2_maxgw|float)}}    ! !26N_NU2 | Carmichael WD - groundwater is used to meet peak demands. From 2006-2015, GW as percent of supply has varied between 13% (2008) and 41% (2014)
49      {{'{:.2f}'.format(d26N_NU3_mingw|float)}}    {{'{:.2f}'.format(d26N_NU3_maxgw|float)}}    ! !26N_NU3 | City of Sacramento - North 17 TAF average ! approx 40%
50      {{'{:.2f}'.format(d26N_NU4_mingw|float)}}    {{'{:.2f}'.format(d26N_NU4_maxgw|float)}}    ! !26N_NU4 | Sacramento Suburban WD SSA mostly GW - ~87% GW from 2011 to 2018. Purchases treated surface water from the City of Sacramento. Changed from 90% to 0% to allow simultaion of wholesale deliveries
51      {{'{:.2f}'.format(d26N_NU5_mingw|float)}}    {{'{:.2f}'.format(d26N_NU5_maxgw|float)}}    ! !26N_NU5 | Area D of City of Sacramento Place of Use
52      {{'{:.2f}'.format(d26N_PU1_mingw|float)}}    {{'{:.2f}'.format(d26N_PU1_maxgw|float)}}    ! !26N_PU1 | City of Roseville
53      {{'{:.2f}'.format(d26N_PU2_mingw|float)}}    {{'{:.2f}'.format(d26N_PU2_maxgw|float)}}    ! !26N_PU2 | San Juan WD - Retail service area. Does not use groundwater
54      {{'{:.2f}'.format(d26N_PU3_mingw|float)}}    {{'{:.2f}'.format(d26N_PU3_maxgw|float)}}    ! !26N_PU3 | San Juan WD - Wholesale area (Orange Vale, Citrus Heights, Fair Oaks). Orange Vale WC does not use groundwater.
55      {{'{:.2f}'.format(d26S_NU1_mingw|float)}}    {{'{:.2f}'.format(d26S_NU1_maxgw|float)}}    ! !26S_NU1 | City of Sacramento
56      {{'{:.2f}'.format(d26S_NU2_mingw|float)}}    {{'{:.2f}'.format(d26S_NU2_maxgw|float)}}    ! !26S_NU2 | CalAm. Sacramento County WA. Purchases treated surface water from the City of Sacramento. Changed from 75% to 0% to allow simultaion of wholesale deliveries
57      {{'{:.2f}'.format(d26S_NU3_mingw|float)}}    {{'{:.2f}'.format(d26S_NU3_maxgw|float)}}    ! !26S_NU3 | Florin RCD, Elk Grove WSC
58      {{'{:.2f}'.format(d26S_NU4_mingw|float)}}    {{'{:.2f}'.format(d26S_NU4_maxgw|float)}}    ! !26S_NU4 | Aerojet
59      {{'{:.2f}'.format(d26S_PU1_mingw|float)}}    {{'{:.2f}'.format(d26S_PU1_maxgw|float)}}    ! !26S_PU1 | Folsom, Folsom Prison
60      {{'{:.2f}'.format(d26S_PU2_mingw|float)}}    {{'{:.2f}'.format(d26S_PU2_maxgw|float)}}    ! !26S_PU2 | Golden State WC
61      {{'{:.2f}'.format(d26S_PU3_mingw|float)}}    {{'{:.2f}'.format(d26S_PU3_maxgw|float)}}    ! !26S_PU3 | Cal Parks & Rec
62      {{'{:.2f}'.format(d26S_PU4_mingw|float)}}    {{'{:.2f}'.format(d26S_PU4_maxgw|float)}}    ! !26S_PU4 | SCWA Zone 41
63      {{'{:.2f}'.format(d26S_PU5_mingw|float)}}    {{'{:.2f}'.format(d26S_PU5_maxgw|float)}}    ! !26S_PU5 | Elk Grove WSC. Purchases treated surface water from the City of Sacramento
64      {{'{:.2f}'.format(d26S_PU6_mingw|float)}}    {{'{:.2f}'.format(d26S_PU6_maxgw|float)}}    ! !26S_PU6 | SCWA Zone 41 (Mather is 100% GW, Vineyard 25% SW,Security Park is 100% GW)
